
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color:#181818 ;
    color:#fff;
    overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
}
#wrapper{
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#right{
    
flex: 1;
}
/*Sign in*/
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1px;

}
#signin form{
    width: 80%;
    padding-bottom: 10px;

}
#signin .logo {
    margin-bottom: 20px;

}
#signin .logo img{
    width: 150px;
}
#signin label{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
#signin .text-input {
    margin-bottom: 18px;
    width: 100%;
    border-radius: 3px ;
    background: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 8px 16px; /*top-bottom and right-left*/
    line-height:17px;
}
#signin .primary-btn{
    width: 100%;
}
#signin .secondary-btn,
 .or,
 .links{
    width: 60%;
}
#signin .links a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;

}
#signin .or {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
    align-items: center;
}
#signin .or .bar {
    flex: auto;
    border: none;
    height: 1px;
    background: #aaa;
}
#signin .or span{
    color: #ccc;
    padding: 0 0.8rem;
}
/*showcase*/
#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("img/pexels-anni-roenkae-3435249.jpg") no-repeat center center / cover ;
    height:100vh;
    text-align: center;

}
#showcase .showcase-text{
    font-size: 48px;
    width: 100%;
    color: #fff;
    margin-bottom: 24px;
   
}
#showcase .secondary-btn{
    width: 60%;
    margin: auto;
    
}


/*Footer*/
#main-footer {
    color: #ccc;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;
}
#main-footer a {
    color:#f96816;
    text-decoration: underline;
}




/*Button*/
.primary-btn{
    padding: 8px 14px;
    height: 40px;
    display:block ;
    border: 0;
    border-radius: 3px;
    font-weight: 500;
    background: #f96816;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}
.primary-btn:hover{
    background-color: #ff7b39;
}
.secondary-btn{
    padding: 8px 14px;
    height: 40px;
    display:block ;
    border: 1px solid #f4f4f4;
    border-radius: 3px;
    font-weight: 500;
    background:none;
    color:#fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s;
}
.secondary-btn:hover{
    border-color: #ff7b39;
    color: #ff7b39;
}
/*Media Quaries*/
@media(min-width: 1200px){
#left{
    flex:4;
}
#right{
    flex:6;
}
}
@media(max-widht: 768px){
    body{
        overflow: auto;
    }
    #right {
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 2vh;

    }
    #signin .logo{
        margin-bottom: 2vh;
    }
    #signin .text-input{
       margin-bottom:0.7rem;   
    }
    #main-footer{
        padding-top: 1rem;
    }
  
}
